<!-- Footer -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-8 col-12-medium">
                    <section>
                        <header>
                            <h2>News</h2>
                        </header>
                        <ul class="dates">
                            <li>
                                <span class="date">Aug <strong>27</strong></span>
                                <h3><a >Joseph R. Benedetto Scholarship by the Society of Manufacturing Engineers (SME), 2025</a></h3>
                                <p>I am among the three Joseph R. Benedetto Scholarship winners selected by the Society of Manufacturing Engineers (SME) Toronto Chapter 26!</p>
                            </li>
                            <li>
                                <span class="date">March <strong>25</strong></span>
                                <h3><a href="projects.html#ded">New work published in <i>Additive Manufacturing</i>, 2025</a></h3>
                                <p>My new work is published in the prestigious journal <i>Additive Manufacturing</i>! The story is also covered by multiple media including <a href="https://news.engineering.utoronto.ca/new-machine-learning-framework-enhances-precision-and-efficiency-in-metal-3d-printing-advancing-sustainable-manufacturing/" target="_blank">the University of Toronto Engineering news</a> and <a href="https://www.metal-am.com/researchers-develop-optimisation-framework-for-laser-directed-energy-deposition/" target="_blank">the Metal Additive Manufacturing Magazine</a>.</p>
                            </li>										
                            <li>
                                <span class="date">Oct <strong>16</strong></span>
                                <h3><a href="projects.html#tailor3Dms">New work published in <i>Materials Today</i>, 2023</a></h3>
                                <p>My new work is published in the prestigious journal <i>Materials Today</i>! The story is also covered by <a href="https://news.engineering.utoronto.ca/this-machine-learning-method-aims-to-speed-up-the-design-of-next-generation-biomedical-implants-and-aerospace-materials/" target="_blank">the University of Toronto Engineering news</a>.</p>
                            </li>
                            <li>
                                <span class="date">Aug <strong>24</strong></span>
                                <h3><a href="projects.html#tailor3Dms">Poster Prize Award @ 2023 Accelerate Conference</a></h3>
                                <p>Our poster won a poster prize from Digital Discovery at the <a href="https://www.accelerate23.ca/" target="_blank">2023 Accelerate Conference</a> by the <a href="https://acceleration.utoronto.ca/" target="_blank">Acceleration Consortium!</a> The news is featured in UofT's MSE <a href="https://mse.utoronto.ca/news/mse-student-xiao-shang-wins-the-poster-prize-at-the-accelerate-conference/" target="_blank">department news</a>!</p>
                            </li>
                            <li>
                                <span class="date">May <strong>26</strong></span>
                                <h3><a href="aboutme.html#awards">NSERC CGS D Award 2023-2026</a></h3>
                                <p>I am awarded the prestigious Canada Graduate Scholarship-Doctoral (CGS D) by The Natural Sciences and Engineering Research Council of Canada (NSERC)!</p>
                            </li>
                    </section>
                </div>
                <div class="col-4 col-12-medium">
                    <section>
                        <header>
                            <h2>Getting in touch</h2>
                        </header>
                        <ul class="social">
                            <li><a class="icon brands fa-linkedin-in" style="color: #000000;" href="https://www.linkedin.com/in/xiaos/" target="_blank"></a></li>
                            <li><a class="icon brands fa-google" href="https://scholar.google.com/citations?user=dkTMoJQAAAAJ&hl=en" target="_blank"></a></li>
                            <li><a class="icon brands fa-github" href="https://github.com/xshang93" target="_blank"></a></li>
                            <li><a class="icon brands fa-twitter" href="https://twitter.com/93xshang" target="_blank"></a></li>
                        </ul>
                        <ul class="contact">
                            <li>
                                <h3>Address</h3>
                                <p>
                                    University of Toronto<br />
                                    Department of Materials Science and Engineering<br />
                                    Toronto, ON, Canada
                                </p>
                            </li>
                            <li>
                                <h3>Mail</h3>
                                <p><a href="#">xiao dot shang at mail.utoronto.ca</a></p>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="col-12">

                    <!-- Copyright -->
                        <div id="copyright">
                            <ul class="links">
                                <li>&copy; Xiao Shang 2023. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>

                </div>
            </div>
        </div>
    </section>